.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.colors_palette {
  display: flex;
  justify-content: flex-start;
  width: 750px;
  background: #fff;
}
.color_shape {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: red;
  margin: 1rem;
  cursor: pointer;
}
.color_shape:nth-child(2) {
  background: green;
}
.color_shape:nth-child(3) {
  background: yellow;
}
.color_shape:nth-child(4) {
  background: blue;
}
.color_shape:hover{
  transform: scale(1.1);
}
.color_shape:focus{
  border: 2px solid #ddd;
}
.canvas_cantainer
{
  width: 820px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../src/Images/brown-wooden-flooring.jpg);
  border-radius: 10px;
  box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.2),
  2px -2px 4px rgba(0, 0, 0, 0.2);
}
canvas {
  background: #fff;
}
.download_btn {
  height: 2rem;
  width: 8rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #097efb;
  color: #fff;
  cursor: pointer;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2),
  2px -2px 4px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
}
.download_btn:hover{
  background: #fff;
  border: 2px solid #097efb;
  color: #097efb;
}
